body{
    background-color: rgba(231, 180, 11, 0.89);
}
h1{
   color: chartreuse;
    text-align: center;
    border: solid.
}




    img{
        display: block;
        margin: auto;
        width: 500px;
        border: solid 5px ;
        padding: 5px;
        border-radius: 10px;
    }
    textarea {
        