body{
    background-color: rgba(231, 180, 11, 0.89);
    text-align: center;
    border: solid rgba(7, 7, 7, 0.801);
    font-size: 23px;
}
h1{
   color: rgba(23, 24, 24, 0.753);
    text-align: center;

}

ul{ li
    text-align: center;
}


img{
    display: block;
    margin: auto;
    width: 500px;
    border: solid 5px ;
    padding: 5px;
    border-radius: 10px;
 }
    textarea {
        